* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: beige;
}

.nav_header {
    background-color: beige;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.navbar-brand {
    font-size: 40px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(112, 112, 60);
    
}

.content {
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
}

.section {
    display: flex;
    align-items: flex-start;
    margin: 20px 0;
    opacity: 0;
    animation: fadeIn 1s forwards;
    width: 100%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section img.left {
    /* flex-direction: row; */
    width: 630px;
    height: 630px;
    margin-right: 70px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.section.reverse {
    flex-direction: row-reverse; /* Reverse the row direction */
}

.section .left {
    flex: 1; /* Take up remaining space */
    margin-right: 20px; /* Add space between the text and the image */
}

.section .right {
    width: 600px;
    height: 600px;
    flex-direction: 1;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    /* margin-left: 100px; */
    margin-left: 20px;
}

.section img {
    width: 150px;
    height: auto;
    margin: 0 20px;
    border-radius: 8px;
}

.section .text {
    flex: 1;
}

p {
    color: black;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 300;
}

h1, h2 {
    color: #111;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
